rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and update their progress records
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    match /students/{studentId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
